
body{
    background-color: #6E635B
}

img{
    background-color: #987C65;
    display: block;
    margin: 0px auto;
}

.Heading{
    box-sizing: border-box;
    margin: 30px 500px;
    background-color: #4d4a48;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    font-family: monospace, cursive, fantasy;
    color: #ED964E;
}

p{
    color: white;
    font-family:monospace, cursive, fantasy
}