
body{
    background-color: #6E635B
}


a:link{
    color: #ED964E;
}

a:visited{
    color: #3ba8db;
}

.RecipeCon{
    display: flex;
    flex-flow: row wrap;
    gap: 70px;
    row-gap: 0px;
    justify-content: center;
    align-content: center;
}

img{
    display: block;
    margin: 30px auto;
    padding: 20px;
}

p, img{
    background-color: #987C65;
    border-radius: 30px;
}


.Heading{
    background-color: #403B37;
    text-align: center;
    font-family: monospace, cursive, fantasy;
    color: #ED964E;
    box-sizing: border-box;
    height: 100px;
    width: 500px;
    margin: 30px auto;
    padding: 35px;
    border-radius: 30px;   
}

.Recipe1 .Heading{
    padding-top: 25px;
}

p{
    padding: 35px;
    box-sizing: border-box;
    font-size: 15px;
    width: 400px;
    margin: auto;
    color: white;
    font-family:monospace, cursive, fantasy
}